@import "tailwindcss";

@theme {
    --breakpoint-xs : 200px;
    --breakpoint-md : 720px;
    --default-font-family: "Jersey 25", sans-serif;
}
    

.lista {
    background-color: rgba(0, 0, 0, 0.810);
    border-bottom : solid 0.2px rgba(0, 0, 0, 0.409);
    color : whitesmoke;
    font-size : 1rem;
}

.lista:hover {
    border-bottom : solid 0.1px rgba(255, 255, 255, 0.21);
    color : rgb(255, 111, 0);
}

.carousel {
    position: relative;
    height: 400px;
    width: 100%;
    margin : auto;
}

@media screen and (max-width: 720px) {
    .carousel {
        height: 300px;
    }
}

@media screen and (max-width: 400px) {
    .carousel {
        height: 200px;
    }
    .carouselNext {
        font-size: x-small;
    }
    .carouselPrev {
        font-size : x-small;
    }
}

.carousel-inner {
    position : relative;
    height: 100%;
    width : 100%;
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    top : 0%;
    left : 0%;
    display: none;
}

.carousel-item.active {
    display: block;
}


.carouselPrev {
    position: absolute;
    top : 50%;
    left : 10px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color : white;
    border : none;
    padding : 4px;
    cursor : pointer;
    z-index : 10;
    border-radius: 2px;
}

.carouselPrev:hover, .carouselNext:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carouselNext {
    position: absolute;
    top : 50%;
    right : 10px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color : white;
    border : none;
    border-radius: 2px;
    padding : 4px;
    cursor : pointer;
    z-index : 10;
}

/*Div gradient to separate carousels*/
.div-gradient {
  width: 100%;
    height: 17px;
    background: linear-gradient(
        90deg,
        #000000c0 0%,
        #412002 50%,
        #000000d3 90%
    );
    filter: brightness(1.08) contrast(1.1);
    font-family : "Jersey 25", sans-serif;
    font-size : 0.7rem;
    line-height: -1vh;
    color : #fff;
        letter-spacing: 2px;
        font-weight: bold;
    
}