---
const {name, id} = Astro.props
---
<a href={`/subcategoria/${id}`}
   class="py-5 text-center border-1 border-zinc-200 rounded-sm opacity-50 w-12/12 overflow-hidden
          hover:opacity-100 hover:border-orange-300 duration-200 hover:text-zinc-800 text-xs"
   >{name}</a>
