---
import NamePage from "./NamePage.astro";
import SelectSubcategory from "./SelectSubcategory.astro";
const { name } = Astro.props;
---

<NamePage name={name} />
<h3 class="font-semibold pt-5 pl-3">Filtros</h3>
<div class="md:w-8/12 xs:w-6/12 px-5 md:grid md:grid-cols-2">
  <div id="select-category">
    <h3 class="text-xs ml-3 text-nowrap">Seleccionar categoria</h3>
    <select
      class="md:w-11/12 xs:w-full text-center drop-shadow-xl rounded-sm text-xs bg-neutral-700 text-neutral-100 font-semibold ml-3"
    >
      <option> Ampolletas </option>
    </select>
  </div>
  <SelectSubcategory />
</div>
