<div id="select-subcategory" class="">
  <h3 class="text-xs ml-3 text-nowrap">Filtrar</h3>
  <select
    class="md:w-11/12 xs:w-full text-center drop-shadow-xl rounded-sm text-xs bg-neutral-700 text-neutral-100 font-semibold ml-3"
  >
    <option> Ampolletas </option>
  </select>
</div>
