---
import Layout from '../layouts/Layout.astro';
import WrapSucursal from "../components/home/WrapSucursal"
import Carousel from '../components/home/Carousel'
---

<Layout>
	<Carousel client:load/>
	<div>barra chula</div>
	<Carousel client:load/>
	<WrapSucursal client:load/>
</Layout>

