---
import Layout from '../layouts/Layout.astro';
import WrapSucursal from "../components/home/WrapSucursal"
import Carousel from '../components/home/Carousel'
---

<Layout>
	<Carousel client:load/>
	<div class="div-gradient">
		<p class="text-zinc-300 px-3 text-end">¡No te pierdas estás ofertas!</p>
	</div>
	<Carousel borderBottom={"border-2 border-zinc-50"} client:load/>
	<WrapSucursal client:load/>
</Layout>

