<section class="w-11/12 mx-auto text-center mb-10" id="contacto">
  <h2
    class="text-lg font-semibold bg-neutral-900 w-fit px-5 mx-auto rounded-xs text-neutral-200 mb-3 border-orange-500 border-x-4"
  >
    ¡CONTACTANOS!
    <img src="/phone.svg" alt="contact-svg" class="inline-block w-4 h-4 ml-1" />
  </h2>
  <div class="grid md:grid-cols-3 xs:grid-cols-2 gap-2">
    <div
      class="bg-neutral-100 rounded-xs drop-shadow-lg border-b-2 border-transparent hover:border-orange-500 duration-105 hover:scale-90"
    >
      <h3 class="font-bold">Instagram</h3>
      <a href="http://instagram.com/intercarchilespa" target="_blank" rel="noopener noreferrer">
        <img src="/ig.png" alt="" class="w-10 mx-auto" />
      </a>
      <p class="text-xs text-neutral-500">¡Pincha arriba y serás redirigido!</p>
    </div>
    <div
      class="bg-neutral-100 rounded-xs drop-shadow-lg border-b-2 border-transparent hover:border-orange-500 duration-105 hover:scale-90"
    >
      <h3 class="font-bold">Correo</h3>
      <a href="mailto:contacto@intercarchile.cl" class="w-10">
        <img src="/gmail.png" alt="" class="w-10 mx-auto" />
      </a>
      <p class="text-xs text-neutral-500">¡Pincha arriba y serás redirigido!</p>
    </div>
    <div
      class="bg-neutral-100 rounded-xs drop-shadow-lg border-b-2 border-transparent hover:border-orange-500 duration-105 hover:scale-90"
    >
      <h3 class="font-bold">Whatssap</h3>
      <a href="https://wa.me/+56942856029" target="_blank" rel="noopener noreferrer">
        <img src="/wsp.png" alt="" class="w-10 mx-auto" />
      </a>
      <p class="text-xs text-neutral-500">¡Pincha arriba y serás redirigido!</p>
    </div>
  </div>
</section>
