---

---

<form
  action="/busqueda"
  class="bg-neutral-100 flex w-full px-2 py-1 xs:gap-4 md:gap-0"
>
  <input
    class="text-center mx-auto md:w-8/12 xs:w-10/12 rounded-xs drop-shadow-xl bg-neutral-200 px-1 text-black text-sm"
    type="text"
    placeholder=" ¿Que buscas hoy? "
  />
  <button
    type="submit"
    class="mr-auto drop-shadow-lg bg-neutral-200 px-4 text-neutral-400 hover:text-black text-xs"
    >¡Buscar!</button
  >
</form>
