<footer
  class="grid grid-cols-3 w-full xs:pt-5 md:pt-9 xs:pb-12 font-serif bg-zinc-800  px-2 text-xs rounded-t-xl text-zinc-300"
  style="background-image: url(/polygon.png); background-position: left -20px bottom; background-repeat : no-repeat; background-size: 200px auto;"
  id="footer-page"
>
  <div id="empty-text-grid" class="w-10/12 my-1">
    <p class="font-bold text-sm">Intercar Chile.</p>
  </div>
  <div id="image-grid" class="my-1">
    <img src="/logo-ic.png" alt="logo-ic" class="xs:w-22 h-30 block mx-auto" />
  </div>
  <div id="information-grid" class="grid grid-cols-2 overflow-clip">
    <ul id="list-horario" class="">
      <li class="my-1 text-sm font-bold">Horario de atención</li>
      <li class="font-bold">Lunes a jueves</li>
      <li>09:00 hrs a 18:00</li>
      <li class="my-0.5 font-bold">Viernes</li>
      <li>09:00 hrs a 17:40</li>
      <li class="my-0.5 font-bold">Sábados</li>
      <li>09:00 hrs a 14:20</li>
      <li class="my-0.5 font-bold">Domingos</li>
      <li>Cerrado</li>
    </ul>
    <ul id="list-other-info" class="text-left">
      <li class="font-bold my-1 text-sm">Ayuda</li>
      <li class="mt-5 font-bold">Cambios y devoluciones</li>
   <ul>
       <li class="my-1">Devoluciones en 72 hrs hábiles</li>
       <li>Cambio de productos 90 días</li>
    </ul>

      <li class="mt-5 font-bold">Garantias</li>
         <ul>
            <li>Garantía plazo 90 días</li>
         </ul>
      <li class="my-5">Envios y zona de cobertura</li>
    </ul>
  </div>
  <div
    id="separator-footer"
    class="mt-10 w-11/12 h-0.5 mx-auto bg-zinc-400 col-span-3 flex justify-between"
  >
    <p class="mt-2 flex gap-2">
      <span class="xs:hidden md:block">Intercar Chile SPA.</span> Todos los derechos
      reservados 2025.
    </p>
    <p class="mt-2">Términos de cambio y devolución</p>
      </div>
</footer>
