<footer class="bg-neutral-800 text-center pb-5 pt-2 mt-auto">
  <img class="w-20 mx-auto" src="/logo.png" alt="" />
    <h3 class="text-neutral-500 font-bold">Siguenos en</h3>
  <a href="http://instagram.com/intercarchilespa" class="hover:text-orange-500 w-fit mx-auto flex gap-1 text-neutral-600">
    @intercarchilespa
    <img class="w-4 h-4 mt-1" src="/ig.png" alt="" />
    </a
  >
  <div class="flex mx-auto">
    <a href="https://wa.me/+56942856029" target="_blank" rel="noopener noreferrer" class="hover:text-orange-500 w-fit mx-auto flex gap-1 text-neutral-600 my-1">
      +56 9 4285 6029
      <img class="w-4 h-4 mt-1" src="/wsp.png" alt="" />
      </a
    >
  </div>
  <hr class="w-full border-0.5 border-black mt-2" />
  <p class="text-neutral-700">
    Página creada por <a class="hover:text-purple-500" href="#">g</a>
  </p>
</footer>
