---
async function getCategories() {
    try {
        const dataResponse = await fetch(
            "http://localhost:8080/api/intercar/category?page=0",
            {
                method: "GET",
                mode: "cors",
                });
                if(dataResponse.status == 404){
                  console.log("plop")
                  return {
                  error : 'Ups, no pudimos cargar categorias',
                  status : dataResponse.Response.status
                  }
                }
                const data = await dataResponse.json();
        return data
        } catch (err) {
        return {
            error : true, 
            dataError : err,
            message : 'Error fetching categories'
        }
    }
}
const categories = await getCategories();
---

<nav class="text-xs w-full flex bg-neutral-900 text-neutral-300 p-1">
    {
    categories.error ? (
            <ul class="justify-around xs:w-8/12 md:w-10/12">
                <li>Ups, no pudimos cargar categorias :(</li>
            </ul>
        ) : (
            <ul class="justify-around xs:w-8/12 md:w-2/3 flex">
               {categories.data?.map((category: any, index : any) => (
                (index > 2) ? null :
                    <a class="overflow-hidden" href={`/categorias/${category.id}`}>
                        <li class="hover:text-orange-500 duration-100 border-l-2 border-zinc-400 px-2">{category.name}</li>
                    </a>
                ))}
            </ul>
                <a href={`/categorias/${categories.data?.[0]?.id}`} class="hover:text-orange-500 border-l-2 border-orange-500 pl-2 duration-100 flex-grow text-center">
                    Ver categorias
                </a>
        )
    }
</nav>
