---

---

<section class="w-11/12 mx-auto my-20" id="nosotros">
  <h2
    class="w-fit px-2 bg-neutral-900 text-lg text-neutral-300 text-center rounded-sm my-5 mx-auto border-x-3 border-orange-500 font-semibold tracking-widest"
  >
    ¿QUIENES SOMOS?
  </h2>
  <div class="text-center grid xs:grid-cols-1 md:grid-cols-3 gap-5">
    <div
      class="drop-shadow-xl bg-neutral-100 rounded-sm p-1 border-b-3 border-transparent hover:border-orange-500 duration-300"
    >
      <h3 class="text-black font-bold tracking-wider">EXPERIENCIA</h3>
      <p class="text-sm">
        Tenemos amplia experiencia en el mercado automotriz, constantemente
        buscando nuevos productos que puedan satisfacer la necesidad de nuestros
        clientes. Más de 20 años trabajando en el mercado de los accesorios nos
        ha nutrido de experiencia, la cual nos ha ayudado a mejorar nuestro
        servicio cada vez mas.
      </p>
    </div>
    <div
      class="drop-shadow-xl bg-neutral-100 rounded-sm p-1 border-b-3 border-transparent hover:border-orange-500 duration-300"
    >
      <h3 class="text-black font-bold tracking-wide">PRECIOS BAJOS</h3>
      <p class="text-sm">
        Si quieres ahorrar, aquí es... Tenemos precios bajisimos, además puedes
        comprar por mayor, los precios son tan bajos que nuestros clientes
        incluso re-venden sus productos con un amplio margen de ganancia.
      </p>
    </div>
    <div
      class="drop-shadow-xl bg-neutral-100 rounded-sm p-1 border-b-3 border-transparent hover:border-orange-500 duration-300"
    >
      <h3 class="text-black font-bold tracking-wider">CLIENTES</h3>
      <p class="text-sm">
        No solamente nos acompaña la experiencia, tenemos un amplio abanico de
        clientes, los cuales están satisfechos con los productos y precios que
        tenemos. Sumate a la experiencia Intercar, te estamos esperando :)
      </p>
    </div>
  </div>
</section>
