---
const { id, title, addres, url } = Astro.props;
---

<div class="bg-neutral-100 drop-shadow-xl">
  <div class="" id="img-sucursal rounded-xs">
    <img class="rounded-t-xs" src="/image.png" alt="" />
  </div>
  <div class="p-2 text-center xs:text-xs md:text-sm">
    <h3 class="overflow-hidden text-ellipsis text-nowrap font-bold">{title}</h3>
  </div>
  <button
    class="text-neutral-500 hover:text-black border-x-2 duration-150 border-transparent hover:border-orange-500 block mx-auto text-xs w-fit mb-2 px-2 bg-neutral-200 drop-shadow-lg"
    >Ver más</button
  >
  <div></div>
</div>
