---
import "../styles/global.css";
import Footer from "../components/home/Footer.astro";
import Header from "../components/home/Header";
import Nav from "../components/home/Nav.astro"
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap"
			rel="stylesheet"
		/>
		<title>INTERCAR CHILE</title>
	</head>
	<body class="font-[Rajdhani] min-h-screen flex flex-col">
		<Header client:load/>
		<Nav />
		<article class="flex-1">
			<slot />
		</article>
		<Footer />
	</body>
</html>
