---
import "../styles/global.css"
import Footer from "../components/home/Footer.astro"
import Header from "../components/home/Header"
import Finder from "../components/home/Finder.astro"
import Nav from "../components/home/Nav"
---


<!doctype html>
<html lang="es" class="scroll-smooth" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>INTERCAR CHILE</title>
	</head>
	<body class="font-display">
			<Header/>
			<Finder/>
			<Nav client:load/>
			<article>
				<slot/>
			</article>
			<Footer/>
	</body>
</html>
